@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
  .main__film-items {
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 20px;
  }

  .collections__content {
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 20px;
  }
}

@media (max-width: 992px) {
  .series__content-item:nth-of-type(1) {
    min-height: 500px;
  }
  
  .series__content-item:nth-of-type(2){
    grid-column: span 4;
  }
  
  .series__content-item{
    grid-column: span 2;
  }
  
  
}

@media (max-width: 768px) {
  .main__title {
    margin: 0 auto;
  }
  
  .footer__content{
    flex-direction: column;
    row-gap: 20px;
  }
}

@media (max-width: 576px) {
  .header__nav-content {
    flex-wrap: wrap;
    justify-content: center;
  }

  .header__nav {
    padding: 15px;
  }

  .header__nav-link span {
    padding: 20px 0;
  }
  
  .video__block-image{
    width: 100%;
  }
}

@media (max-width: 480px) {
  .inrto {
    min-height: 400px;
  }

  .intro__content-title {
    font-size: 40px;
    line-height: 40px;
  }

  .intro__content-description {
    line-height: 20px;
  }

  .header__nav-list {
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .collections__content-img{
    width: 100%;
  }
  
  .series__content-item{
    grid-column: span 4;
    grid-row: span 4;
  }
  
  .series__content-item:nth-of-type(1) .series__content-title{
    font-size: 30px;
  }
  
  .series__content-item:nth-of-type(1) .series__content-description{
    margin-top: 10px;
    margin-bottom: 15px;
  }
}

@media (max-width: 375px) {
}
